<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Black+Ops+One|Luckiest+Guy|Sonsie+One|Shojumaru&effect=3d|3d-float|anaglyph|brick-sign|canvas-print|crackle|decaying|destruction|distressed|distressed-wood|emboss|fire|fire-animation|fragile|grass|ice|mitosis|neon|outline|putting-green|scuffed-steel|shadow-multiple|splintered|static|stonewash|vintage|wallpaper' rel='stylesheet' type='text/css'>
    <title>Home Filipe Machado</title>
</head>

<body class="font-effect-3d" style="font-size:20px; font-family:Roboto;">
    <h1 align="left">Hi 👋, I'm Filipe Machado</h1>
    <p align="left"> <img
            src="https://komarev.com/ghpvc/?username=fmachadog&label=Profile%20views&color=0e75b6&style=flat"
            alt="fmachadog" /> </p>

    <p>🔭 I’m currently working on <a href="http://api-salario.fmachadog.com">MAPI-Salario</a></p>

    <h2 align="left">Connect with me:</h2>
    <p align="left">
        <a href="https://linkedin.com/in/filipemachadog" target="blank">
            <img align="center"
                src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg"
                alt="filipemachadog" height="30" width="40" title="filipemachadog"/>
        </a>
        <a href="https://github.com/FMachadoG" target="blank"><img align="center"
                src="https://www.vectorlogo.zone/logos/github/github-icon.svg" alt="FmachadoG" height="30" width="40" title="FmachadoG"/>
        </a>
        <a href="https://instagram.com/filipemachadog" target="blank"><img align="center"
                src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg"
                alt="filipemachadog" height="30" width="40" title="filipemachadog"/>
        </a>
        <a href="https://discord.gg/Astru#9608" target="blank"><img align="center"
                src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/discord.svg"
                alt="Astru#9608" height="30" width="40" title="Astru#9608" />
        </a>
    </p>

    <h2 align="left">Languages and Tools:</h2>
    <p align="left"> 
        <a href="https://flask.palletsprojects.com/" target="_blank" rel="noreferrer">
            <img src="https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-icon.svg" alt="flask" width="40"
                height="40" />
        </a> 
        <a href="https://www.microsoft.com/en-us/sql-server" target="_blank" rel="noreferrer"> 
            <img src="https://www.svgrepo.com/show/303229/microsoft-sql-server-logo.svg" alt="mssql"
                width="40" height="40" />
        </a> 
        <a href="https://www.python.org" target="_blank" rel="noreferrer"> 
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
                alt="python" width="40" height="40" />
        </a>
        <a href="https://git-scm.com/" target="_blank" rel="noreferrer"> 
            <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40" height="40" />
        </a> 
        <a href="https://www.linux.org/" target="_blank" rel="noreferrer"> 
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-original.svg"
                alt="linux" width="40" height="40" />
        </a> 
        <a href="https://postman.com" target="_blank" rel="noreferrer"> 
            <img src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="postman"
                width="40" height="40" />
        </a>
    </p>

</body>

</html>